BelejanorProject/WebContent/wsdl/getdataequifax.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="GetDataEquifaxService" targetNamespace="http://equifax.implementations.belejanor.switcher.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://equifax.implementations.belejanor.switcher.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="http://lorente.fin.ec/ConsultasEquifax/fault" version="1.0" xmlns:ns1="http://equifax.implementations.belejanor.switcher.com/" xmlns:tns="http://lorente.fin.ec/ConsultasEquifax/fault" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="http://equifax.implementations.belejanor.switcher.com/"/>

  <xs:element name="Error" type="tns:Error"/>

  <xs:complexType name="Error">
    <xs:complexContent>
      <xs:extension base="ns1:throwable">
        <xs:sequence>
          <xs:element name="Code" type="xs:string"/>
          <xs:element name="Description" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>
    <xs:schema targetNamespace="http://lorente.fin.ec/ConsultasEquifax" version="1.0" xmlns:ns1="http://equifax.implementations.belejanor.switcher.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="http://equifax.implementations.belejanor.switcher.com/"/>

  <xs:element name="ConsultaDatosPersona" type="ns1:consultaDatosPersona"/>

  <xs:element name="ConsultaDatosPersonaResponse" type="ns1:consultaDatosPersonaRespuesta"/>



</xs:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://equifax.implementations.belejanor.switcher.com/" xmlns:ns0="http://lorente.fin.ec/ConsultasEquifax/fault" xmlns:ns1="http://lorente.fin.ec/ConsultasEquifax" xmlns:tns="http://equifax.implementations.belejanor.switcher.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://lorente.fin.ec/ConsultasEquifax"/>
  <xs:element name="consultarDatosPersona" type="tns:consultarDatosPersona"/>
  <xs:element name="consultarDatosPersonaResponse" type="tns:consultarDatosPersonaResponse"/>
  <xs:complexType name="consultarDatosPersona">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConsultaRequerimiento" type="tns:consultaDatosPersona"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultaDatosPersona">
    <xs:sequence>
      <xs:element minOccurs="0" name="numeroDocumento" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarDatosPersonaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConsultaRespuesta" type="tns:consultaDatosPersonaRespuesta"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultaDatosPersonaRespuesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="DatosPrincipales" type="tns:datosPrincipales"/>
      <xs:element minOccurs="0" name="DatosDirecciones" type="tns:datosDirecciones"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="datosPrincipales">
    <xs:sequence>
      <xs:element minOccurs="0" name="PersonaId" type="xs:string"/>
      <xs:element minOccurs="0" name="TipoDocumento" type="xs:string"/>
      <xs:element minOccurs="0" name="NumeroDocummento" type="xs:string"/>
      <xs:element name="IngresosUnidadFamiliar" type="xs:double"/>
      <xs:element name="GastosFinancierosInternos" type="xs:double"/>
      <xs:element name="GastosHogarUnidadFamiliar" type="xs:double"/>
      <xs:element minOccurs="0" name="TipoDocumentoConyuge" type="xs:string"/>
      <xs:element minOccurs="0" name="NumeroDocumentoConyuge" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="datosDirecciones">
    <xs:sequence>
      <xs:element minOccurs="0" name="Direccion" type="xs:string"/>
      <xs:element minOccurs="0" name="TipoDireccion" type="xs:string"/>
      <xs:element minOccurs="0" name="Parroquia" type="xs:string"/>
      <xs:element minOccurs="0" name="Ciudad" type="xs:string"/>
      <xs:element minOccurs="0" name="FechaModificacion" type="xs:string"/>
      <xs:element name="Verificado" type="xs:boolean"/>
      <xs:element minOccurs="0" name="Telefono" type="xs:string"/>
      <xs:element minOccurs="0" name="TipoTelefono" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="throwable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="stackTrace" nillable="true" type="tns:stackTraceElement"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType final="extension restriction" name="stackTraceElement">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="Error">
    
  </wsdl:message>
  <wsdl:message name="consultarDatosPersona">
    <wsdl:part name="parameters" element="tns:consultarDatosPersona">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarDatosPersonaResponse">
    <wsdl:part name="parameters" element="tns:consultarDatosPersonaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GetDataEquifax">
    <wsdl:operation name="consultarDatosPersona">
      <wsdl:input name="consultarDatosPersona" message="tns:consultarDatosPersona">
    </wsdl:input>
      <wsdl:output name="consultarDatosPersonaResponse" message="tns:consultarDatosPersonaResponse">
    </wsdl:output>
      <wsdl:fault name="Error" message="tns:Error">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetDataEquifaxServiceSoapBinding" type="tns:GetDataEquifax">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="consultarDatosPersona">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="consultarDatosPersona">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultarDatosPersonaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Error">
        <soap:fault name="Error" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetDataEquifaxService">
    <wsdl:port name="GetDataEquifaxPort" binding="tns:GetDataEquifaxServiceSoapBinding">
      <soap:address location="http://localhost:8181/BelejanorProject/services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
